In [2]:
# En notebooks/limpieza_integracion.ipynb
import pandas as pd

In [3]:
DATA_PATH = '../data/raw/'
df_recorridos = pd.read_csv(DATA_PATH + 'badata_ecobici_recorridos_realizados_2024.csv')
df_usuarios = pd.read_csv(DATA_PATH + 'usuarios_ecobici_2024.csv')

# --- 1. df_recorridos: Renombrar columnas a snake_case ----

In [4]:
df_recorridos.head(10)

,id_recorrido,duracion_recorrido,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,direccion_estacion_origen,long_estacion_origen,lat_estacion_origen,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,direccion_estacion_destino,long_estacion_destino,lat_estacion_destino,id_usuario,modelo_bicicleta,genero
0,20428222,568,2024-01-23 18:36:00,513,308 - SAN MARTIN II,Av. San Martín 5129,-58.490739,-34.597130,2024-01-23 18:45:28,498,055 - HABANA,Gral. José Gervasio Artigas 4298 (y Habana),-58.494959,-34.586598,992557.0,FIT,MALE
1,20431744,1355,2024-01-23 22:41:20,460,133 - BEIRO Y SEGUROLA,Segurola 3194,-58.511930,-34.607500,2024-01-23 23:03:55,382,204 - Biarritz,Biarritz 2403,-58.477255,-34.605431,320782.0,FIT,FEMALE
2,20429936,0,2024-01-23 20:06:22,467,328 - SARMIENTO II,Sarmiento 2037,-58.395893,-34.605514,2024-01-23 20:06:22,6,006 - Parque Lezama,"Avenida Martin Garcia, 295",-58.369758,-34.628526,828678.0,FIT,FEMALE
3,20429976,0,2024-01-23 20:08:17,382,204 - Biarritz,Biarritz 2403,-58.477255,-34.605431,2024-01-23 20:08:17,460,133 - BEIRO Y SEGUROLA,Segurola 3194,-58.511930,-34.607500,320782.0,ICONIC,FEMALE
4,20424802,680,2024-01-23 15:18:39,137,137 - AZOPARDO Y CHILE,AZOPARDO 700,-58.367492,-34.615598,2024-01-23 15:29:59,150,150 - RODRIGO BUENO,Av. España 2200,-58.355465,-34.618755,861425.0,FIT,FEMALE
5,20427241,466,2024-01-23 17:48:05,99,099 - Malabia,780 Malabia & Loyola,-58.435408,-34.596096,2024-01-23 17:55:51,206,159 - Fitz Roy & Gorriti,Fitz Roy & Gorriti,-58.437339,-34.584950,320714.0,FIT,OTHER
6,20431004,1176,2024-01-23 21:17:38,68,105 - PARQUE SAAVEDRA,García del Río 3590,-58.480464,-34.552148,2024-01-23 21:37:14,68,105 - PARQUE SAAVEDRA,García del Río 3590,-58.480464,-34.552148,1041602.0,ICONIC,MALE
7,20431427,1906,2024-01-23 22:03:46,17,017 - Plaza Almagro,"441 Bulnes & Peron, Juan Domingo, Tte. General",-58.418731,-34.606410,2024-01-23 22:35:32,186,186 - MANZANA 66,2875 Moreno,-58.406441,-34.613636,992479.0,FIT,FEMALE
8,20429542,695,2024-01-23 19:44:05,284,229 - RIGLOS,1019 Riglos,-58.435056,-34.631018,2024-01-23 19:55:40,432,187 - Jose Maria Moreno,141 Jose Maria Moreno,-58.435801,-34.619879,320688.0,FIT,FEMALE
9,20431142,492,2024-01-23 21:31:25,432,187 - Jose Maria Moreno,141 Jose Maria Moreno,-58.435801,-34.619879,2024-01-23 21:39:37,284,229 - RIGLOS,1019 Riglos,-58.435056,-34.631018,320688.0,FIT,FEMALE

In [5]:
df_usuarios.head(10)

   id_usuario genero_usuario  edad_usuario  fecha_alta hora_alta
0     1094487          OTHER            35  2024-01-18  09:21:02
1     1097128         FEMALE            21  2024-01-21  23:02:26
2     1102901          OTHER            19  2024-01-29  19:33:32
3     1096100         FEMALE            29  2024-01-20  18:57:05
4     1103049           MALE            21  2024-01-30  00:49:33
5     1103476         FEMALE            18  2024-01-30  21:24:11
6     1103433         FEMALE            26  2024-01-30  20:10:23
7     1103481         FEMALE            31  2024-01-30  21:30:53
8     1090693         FEMALE            21  2024-01-12  10:01:31
9     1103396           MALE            23  2024-01-30  19:10:00

In [6]:
print("Columas originales de df_recorridos")
print(df_recorridos.columns.tolist())

Columas originales de df_recorridos
['id_recorrido', 'duracion_recorrido', 'fecha_origen_recorrido', 'id_estacion_origen', 'nombre_estacion_origen', 'direccion_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen', 'fecha_destino_recorrido', 'id_estacion_destino', 'nombre_estacion_destino', 'direccion_estacion_destino', 'long_estacion_destino', 'lat_estacion_destino', 'id_usuario', 'modelo_bicicleta', 'genero']

In [7]:
# Crea un diccionario de mapeo o usa una funcion para renombrar:
# Una forma rápida es definir una función para convertir el texto:
def to_snake_case(col_name):
    # Simplificado: convertir a minúsculas y reemplazar espacios/puntos/guiones por guiones bajos.
    return col_name.lower().replace(' ', '_').replace('.', '_').strip()

df_recorridos.columns = [to_snake_case(col) for col in df_recorridos.columns]
# Aquí deberás revisar la salida de print(df_recorridos.columns) para ver si necesitas ajustes manuales.

In [8]:
print("\nColumnas en snake_case de df_recorridos:")
print(df_recorridos.columns.tolist())

Columnas en snake_case de df_recorridos:
['id_recorrido', 'duracion_recorrido', 'fecha_origen_recorrido', 'id_estacion_origen', 'nombre_estacion_origen', 'direccion_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen', 'fecha_destino_recorrido', 'id_estacion_destino', 'nombre_estacion_destino', 'direccion_estacion_destino', 'long_estacion_destino', 'lat_estacion_destino', 'id_usuario', 'modelo_bicicleta', 'genero']

In [9]:
# --- 2. df_usuarios: Renombrar columnas a snake_case ---
print("\nColumnas originales de df_usuarios:")
print(df_usuarios.columns.tolist())

Columnas originales de df_usuarios:
['id_usuario', 'genero_usuario', 'edad_usuario', 'fecha_alta', 'hora_alta']

In [10]:
df_usuarios.columns = [to_snake_case(col) for col in df_usuarios.columns]
print("\nColumnas en snake_case de df_usuarios:")
print(df_usuarios.columns.tolist())

Columnas en snake_case de df_usuarios:
['id_usuario', 'genero_usuario', 'edad_usuario', 'fecha_alta', 'hora_alta']

# --- 3. Conversión de Tipos de Datos ---

In [11]:
# Columnas de df_recorridos que deben ser datetime:
date_cols_recorridos = ['fecha_origen_recorrido', 'fecha_destino_recorrido']

for col in date_cols_recorridos:
    # 'errors='coerce' convierte valores inválidos (como los nulos) a NaT (Not a Time)
    df_recorridos[col] = pd.to_datetime(df_recorridos[col], errors='coerce')

In [12]:
# Columnas de df_usuarios que deben ser datetime:
# Si el archivo de Usuarios tenía 'fecha_alta' y 'hora_alta' separadas, es mejor unirlas primero.
# Supongamos que df_usuarios ahora tiene 'fecha_alta' y 'hora_alta' en snake_case
df_usuarios['fecha_hora_alta'] = pd.to_datetime(
    df_usuarios['fecha_alta'] + ' ' + df_usuarios['hora_alta'], errors='coerce'
)

In [13]:
# Puedes eliminar las columnas originales después de la unión si quieres
df_usuarios = df_usuarios.drop(columns=['fecha_alta', 'hora_alta'])

In [14]:
print("\nTipos de datos de df_recorridos después de la conversión:")
print(df_recorridos[date_cols_recorridos].dtypes)
print("\nTipos de datos de df_usuarios después de la conversión:")
print(df_usuarios[['fecha_hora_alta']].dtypes)

Tipos de datos de df_recorridos después de la conversión:
fecha_origen_recorrido     datetime64[ns]
fecha_destino_recorrido    datetime64[ns]
dtype: object

Tipos de datos de df_usuarios después de la conversión:
fecha_hora_alta    datetime64[ns]
dtype: object

# Filtrado, Preparacion e Integracion de Datos

In [15]:
# En notebooks/limpieza_integracion.ipynb

# --- 4. Filtrado Temporal: Julio, Agosto y Septiembre de 2024 ---

# Definir las fechas de inicio y fin del periodo
# Es importante incluir el inicio del primer día y el final del último día
inicio_periodo = pd.to_datetime('2024-07-01')
fin_periodo = pd.to_datetime('2024-09-30 23:59:59')

# Crear la máscara de filtrado
# Se asegura que la fecha esté dentro del rango [inicio_periodo, fin_periodo]
df_filtrado = df_recorridos[
    (df_recorridos['fecha_origen_recorrido'] >= inicio_periodo) & 
    (df_recorridos['fecha_origen_recorrido'] <= fin_periodo)
].copy() # Usamos .copy() para evitar SettingWithCopyWarning

print(f"Total de viajes filtrados (Julio a Septiembre 2024): {len(df_filtrado):,}")

Total de viajes filtrados (Julio a Septiembre 2024): 831,984

In [16]:
# --- 5. Guardar el resultado intermedio ---
INTERIM_PATH = '../data/interim/'
df_filtrado.to_csv(INTERIM_PATH + 'recorridos_3meses.csv', index=False)

print(f"Guardado intermedio exitoso en {INTERIM_PATH}recorridos_3meses.csv")

Guardado intermedio exitoso en ../data/interim/recorridos_3meses.csv

In [17]:
# --- 6. Realizar la Integración (JOIN) ---

# Revisa la columna de unión en df_usuarios si la renombraste (asumo que es 'id_usuario')
print("\nVerificación de claves de unión:")
print(f"Recorridos: 'id_usuario' tipo {df_filtrado['id_usuario'].dtype}")
print(f"Usuarios: 'id_usuario' tipo {df_usuarios['id_usuario'].dtype}")

Verificación de claves de unión:
Recorridos: 'id_usuario' tipo float64
Usuarios: 'id_usuario' tipo int64

In [18]:
# Realizar el merge (join)
df_final = pd.merge(
    left=df_filtrado,
    right=df_usuarios,
    on='id_usuario',
    how='left' # Mantiene todos los viajes de df_filtrado
)

print(f"\nFilas después del merge: {len(df_final):,}")
print("Columnas después del merge (deberían ser más):")
print(df_final.columns.tolist())

Filas después del merge: 831,984
Columnas después del merge (deberían ser más):
['id_recorrido', 'duracion_recorrido', 'fecha_origen_recorrido', 'id_estacion_origen', 'nombre_estacion_origen', 'direccion_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen', 'fecha_destino_recorrido', 'id_estacion_destino', 'nombre_estacion_destino', 'direccion_estacion_destino', 'long_estacion_destino', 'lat_estacion_destino', 'id_usuario', 'modelo_bicicleta', 'genero', 'genero_usuario', 'edad_usuario', 'fecha_hora_alta']

# Crear columna derivada y guardado Final
 
La consigna pide crear la duracion en minutos

In [19]:
# --- 7. Crear la columna derivada duracion_viaje_minutos ---
# Se calcula la diferencia entre la fecha/hora de destino y la de origen
df_final['duracion_viaje'] = (df_final['fecha_destino_recorrido'] - df_final['fecha_origen_recorrido'])

# Convertir el timedelta resultante a minutos (dividiendo por nanosegundos en un minuto)
MINUTO_EN_NANOSEGUNDOS = 60 * 10**9
df_final['duracion_viaje_minutos'] = df_final['duracion_viaje'].dt.total_seconds() / 60

# Opcional: eliminar la columna intermedia 'duracion_viaje' si no se necesita
df_final = df_final.drop(columns=['duracion_viaje'])

# Mostrar las primeras filas y estadísticas para verificar
print("\nPrimeras filas y duración del viaje en minutos:")
print(df_final[['fecha_origen_recorrido', 'fecha_destino_recorrido', 'duracion_viaje_minutos']].head())
print(df_final['duracion_viaje_minutos'].describe())

Primeras filas y duración del viaje en minutos:
  fecha_origen_recorrido fecha_destino_recorrido  duracion_viaje_minutos
0    2024-08-24 12:37:54     2024-08-24 12:37:56                0.033333
1    2024-08-02 01:29:21     2024-08-02 01:51:51               22.500000
2    2024-08-02 07:26:40     2024-08-02 07:49:58               23.300000
3    2024-08-01 12:51:39     2024-08-01 12:59:50                8.183333
4    2024-08-01 19:12:28     2024-08-01 19:39:50               27.366667
count    831984.000000
mean         21.408908
std         190.600092
min           0.000000
25%           7.850000
50%          14.133333
75%          23.766667
max       42852.750000
Name: duracion_viaje_minutos, dtype: float64

In [20]:
# --- 8. Guardar el resultado procesado final ---
PROCESSED_PATH = '../data/processed/'
df_final.to_csv(PROCESSED_PATH + 'recorridos_usuarios_3meses.csv', index=False)

print(f"\nGuardado FINAL exitoso en {PROCESSED_PATH}recorridos_usuarios_3meses.csv")

Guardado FINAL exitoso en ../data/processed/recorridos_usuarios_3meses.csv